@import "tailwindcss";

@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
}
@theme {
  --font-sans: "Montserrat", "sans-serif";
}

html,
body {
  box-sizing: border-box;
}

.container {
  @apply w-full sm:max-w-[70vw] mx-auto;
}

.board {
  max-width: 80vw;
  max-height: 80vh;
  aspect-ratio: 1/1;
  height: 100vw;

  .board__plate {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 1fr);
    gap: 0.5rem;
    padding: 0.5rem;

    .board__cell {
            position: relative;
        .board__cell__allowed-values {
            display: none;
            position: absolute;
            top: 50%;
                border: 1px solid black;
        }

        &:hover>.board__cell__allowed-values {
                display: block;
            }
      
    }
  }
}

.player_tile {
  height: 3.5rem;
}

svg {
  &.tile {
    transform: translateX(-0.1em);
  }
  &.svg-inline--fa {
    width: inherit;
  }
  &.small {
    transform: translateY(15%) scale(90%);
  }
}

.rules {
  h2 {
    @apply font-semibold text-xl my-3;

    &:first-child {
      @apply mt-0;
    }
  }

  h3 {
    @apply font-semibold text-lg my-2;

    &:first-child {
      @apply mt-0;
    }
  }
  .onetab {
    @apply ml-2;
  }

  .twotab {
    @apply ml-4;
  }
  li {
    @apply list-disc;
  }
}
