@import "tailwindcss";

@font-face {
  font-family: "Oswald";
  src: url("./assets/fonts/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/Montserrat-VariableFont_wght.ttf");
}
@theme {
  --font-sans: "Montserrat", "sans-serif";
}

html,
body {
  box-sizing: border-box;
}

.container {
  @apply w-full sm:max-w-[70vw] mx-auto;
}

.board {
  max-width: 80vw;
  max-height: 80vh;
  aspect-ratio: 1/1;
  height: 100vw;

  .board__plate {
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows: repeat(14, 1fr);
    gap: 0.5rem;
    padding: 0.5rem;

    .board__cell {
      svg {
        height: 100%;
        &.tile {
          height: 1.3em;
          transform: translateX(-0.1em);
        }
        &.small {
          height: 50%;
        }
      }
    }
  }
}
